<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Polling Example</title>
    <script>
        function longPoll() {
            console.log("데이터 준비되었나요? 준비되면 보내주세요!");
            fetch('/longPolling/data')
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    console.log("==========");
                    longPoll();
                })
                .catch(error => console.error('Error:', error));
        }

        // 페이지가 로드되면 longPoll 함수 실행
        window.onload = longPoll;
    </script>
</head>
<body>
<button onclick="location.href='/polling'">Polling</button>
<button onclick="location.href='/longPolling'">Long Polling</button>
<button onclick="location.href='/sse'">SSE</button>
<button onclick="location.href='/websocket'">Websocket</button>
</body>
</html>